.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.location {
    border: 1px solid goldenrod;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 400px;
}